@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Disaster Assistance Inc.<br />
    Iowa City, IA 52242-5501<br />
    <abbr title="Phone">P:</abbr>
    999.999.9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:da-support@gmail.com">da-support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:da-marketing@gmail.com">da-marketing@gmail.com</a>
</address>